<!DOCTYPE html>
<html>
  <head>
    <% include templates/header %>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col page-title">
            <h1><%= title %></h1>
            <p class="page-desc"> <%= desc %></p>
          </div>
        </div>

        <div class="row">
          <div class="col page-body">
            <div class="play-bar-container">
              <audio controls id="playBar" class="d-none">
                <source src="../speech.mp3" type="audio/mp3">
              </audio>
            </div>

            <div class="file-list-container">
              <%if (files.length > 0) { %>
        
              <ul class="list-group">
                  <% for (var i = 0; i < files.length; i++) { %>
                  <li class="list-group-item root-file" id="<%= files[i].id %>">
                      <div class="d-flex">
                          <span class="file-name" style="text-align:left"><%= files[i].name %></span>
                          
                          
                      </div>
        
                      <%if (files[i].sheets.length > 0) { %>
        
                        <ul class="list-group">
                            <% for (var k = 0; k < files[i].sheets.length; k++) { %>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <span class="file-name sheet-name" style="text-align:left"><%= files[i].sheets[k].name %></span>
                                    <button class="play-btn cursor-pointer"><i class="fa fa-play" aria-hidden="true" data-sheet-name="<%= files[i].sheets[k].name %>"></i></button>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                  
                        <% } %>
        
                  </li>
                  <% } %>
              </ul>
        
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    

    <% include templates/script %>
  </body>
</html>
